{% extends "layout.html" %}
{% block content%}
	<ul data-bind="foreach: requests" >
        <li >
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#" data-bind=" text: client"></a>
              <small class="text-secondary " data-bind=" text: target_date"></small>
            </div>
            <h2><span class="article-title" href="#" data-bind=" text: title"></span></h2>
            <p> Product Area: <span data-bind=" text: product_area"></span></p>
            <p> Priority: <span data-bind=" text: priority"> </span></p>
            
            <p> Description: <span class="article-content" data-bind=" text: description"></span></p>
          </div>
          <div class="buttons">
              <button class="btn btn-info" data-bind= "click: $parent.editReq">Edit</button>
              <button class="btn btn-dark" data-bind= "click: $parent.deleteReq">Delete</button>
          </div>
        </article>
      </li>
      </ul>
{% endblock content %}